body{
  background: -webkit-linear-gradient(to left, #40404F, #40404F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #40404F, #40404F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  color: whitesmoke
}

.nav {
  color: magenta
}